# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://postgres:123456@127.0.0.1:5432/vertin"
POSTGRES_PRISMA_URL="postgres://postgres:123456@127.0.0.1:5432/vertin"
POSTGRES_URL_NO_SSL="postgres://postgres:123456@127.0.0.1:5432/vertin"
POSTGRES_URL_NON_POOLING="postgres://postgres:123456@127.0.0.1:5432/vertin"
POSTGRES_USER="postgres"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PASSWORD="123456"
POSTGRES_DATABASE="vertin"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth

